.custom-switch .custom-control-label::before {
    border-radius: 50rem;
}
.custom-switch .custom-control-label::after {
    border-radius: 50rem;
}
.table-responsive .search-form {
    width: 300px;
}
@media (max-width: 576px) {
    .table-responsive .d-flex {
        flex-direction: column;
    }
    .table-responsive .search-form {
        width: 100%;
        margin-top: 10px;
    }
}