.action-buttons .btn {
    margin-right: 5px;
}
.badge-tidak-tersedia {
    background-color: #dc3545;
    color: white;
}
@media (max-width: 768px) {
    .main-header .btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    }
    .content-header h1 {
    font-size: 1.5rem;
    }
    .card-tools {
    width: 100%;
    margin-top: 10px;
    }
    .card-tools .input-group {
    width: 100% !important;
    }
}